<div class="edit-index">
  <div class="row">
    <div class="col">           
      <ul class="list-group">
        <div class="edit-group">
          <%= link_to '攻略一覧', article_strategies_path, class: "list-group-item list-group-item-action" %>          
        </div>
        <div class="edit-group">
          <%= link_to '作成する', new_article_strategy_path, class: "list-group-item list-group-item-action" %>
        </div>
        <div class="edit-group">
          <%= link_to '獲得スター数', "#", class: "list-group-item list-group-item-action" %>
        </div>
      </ul>
    </div>
  </div>
</div>
