<% @user ||= current_user %>
  <div class="stats-show row">
    <div class="col-5">
      <a href="<%= followers_user_path(@user) %>" class="text-white">
        <p id="followers" class="stat">
          <%= @user.followers.count %> フォロワ
        </p>
      </a>
    </div>
    <div class="col">
      <a href="<%= following_user_path(@user) %>" class="text-white">
        <p id="following" class="stat">
          <%= @user.following.count %> フォロー
        </p>
      </a>
    </div>
  </div>
