<div class="home">
  <div class="container">
    <div class="row">
      <div class="col-6">
        <div class="home-icon">
          <i class="fas fa-user fa-4x faa-pulse animated my-blue"></i>
          <p>プロフィール</p>
        </div>
      </div>
      <div class="col-6">
        <div class="home-icon">
          <i class="fas fa-book fa-4x faa-pulse animated my-green"></i>
          <p>攻略</p>
        </div>
      </div>
      <div class="col-6">
        <div class="home-icon">
          <i class="fas fa-users fa-4x faa-pulse animated my-red"></i>
          <p>ユーザー</p>
        </div>
      </div>
      <div class="col-6">
        <div class="home-icon">
          <i class="fas fa-crown fa-4x faa-pulse animated my-yellow"></i>
          <p>ランキング</p>
        </div>
      </div>
      <div class="col-6">
        <div class="home-icon">
          <i class="fas fa-user-edit fa-4x faa-pulse animated my-gray"></i>
          <p>設定</p>
        </div>
      </div>
      <div class="col-6">
        <div class="home-icon">
          <i class="fas fa-pen fa-4x faa-pulse animated my-orange"></i>
          <p>編集</p>
        </div>
      </div>
      <div class="col-6">
        <div class="home-icon">
         <i class="fas fa-hourglass-start fa-4x faa-pulse animated my-cyan"></i>
         <p>計測履歴</p>
        </div>
      </div>
      <div class="col-6">
        <div class="home-icon">
          <i class="fas fa-home fa-4x my-pink faa-pulse animated"></i>
          <p>ホーム</p>
        </div>
      </div>
    </div>
  </div>
</div>