<div class="user_info">
  <section class="user_show">
    <div class="circle-avatar">
      <%= image_tag current_user.profile.avatar.to_s, :class => "float-center border mb-2 mx-auto" %>
    </div>
    <h3><%= current_user.username %></h3>
    <% if current_user.profile.description? %>
      <p><%= current_user.profile.description %></p>
    <% end %>        
  </section>
  <section class="stats">
    <p>フォロー<p>
  </section> 
  <div class="col">
    <div class="micropost-page">
      <h3>投稿一覧</h3>       
    </div>
  </div>
</div>