<div class="user_info">
  <div class="row">
    <div class="col-md-6"> 
      <section class="user_show">
        <div class="circle-avatar">
          <%= image_tag current_user.profile.avatar.to_s, :class => "float-center border mb-2 mx-auto" %>
        </div>
        <h1><%= current_user.username %></h1>

        <% if current_user.profile.description? %>
          <p><%= current_user.profile.description %></p>
        <% end %>     

     
      </section>
      <section class="stats">
        <p>フォロー<p>
      </section>
    </div>
    <div class="col-md-6">
      <div class="micropost-page">
        <h1>投稿一覧</h1>       
      </div>
    </div>
  </div>
</div>