<div class="row">
  <div class="col-1">
  </div>
  <div class="col-10">
    <div class="card-deck">
      <section class="card card-extend border-light">
        <div class="card-header border-light"><%= @article.title %></div>
          <div class="card-body">
            <div class="content">
              <p><%= safe_join(@article.content.split("\n"),tag(:br)) %></p>
            </div>
            <div class="edit-form">
              <%= link_to '終了する' , article_strategies_path, class: "btn btn-warning" %> 
            </div>
          </div>   
      </section>     
    </div>
  </div>
</div>
