<% if @feed_items.any? %>
  <ol class="articles">
    <div class="articles-index">
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1"><i class="fab fa-searchengin"></i></span>
        </div>
        <input type="text" class="form-control" placeholder="検索" aria-label="検索" aria-describedby="basic-addon1">
      </div>
      <ul class="article">
        <% @feed_items.each do |feed_item| %>
          <div class="card">
            <div class="card-body">      
              <li class="card-text"><%= link_to feed_item.title, edit_article_strategy_path, class: "text-white" %></li>
            </div>   
          </div>   　        
        <% end %>   　
      </ul>
    </div>
  </ol>
  <%= paginate @feed_items, params: { controller: :pages, action: :index } %>
<% end %>