$cube-light-white: #f5f5f6;
$cube-dark-white: #cdced1;
$cube-black: #050c17;
$cube-red: #b1046b;
$cube-violet: #640c41;
$cube-yellow: #bdb319;
$cube-blue: #0071bc;
$cube-dark-blue: #0c2e64;

.mybest p {
    margin: 0;
}

// article/new
.article-title {
    height: 2.5rem!important;
}

.article-content {
    height: 11rem!important;
}

// index
.article {
    padding: 0;
}

// article/show
.article-form {
    text-align: center;
    margin-top: 2rem;
    a {
        color: $cube-light-white;
    }
}

.content {
    padding: 0 1rem;
    text-align: left;
}

.article-a, .article-b, .article-c {
    margin: 5rem 1rem;
}

.article-a a {
    border: 0.1rem solid $cube-dark-white;
    font-size: 1.5rem;
    padding: 1.5rem;
    border-radius: 50%;
    padding: 60px;
    background-color: $cube-dark-blue;
}

.article-b a {
    border: 0.1rem solid $cube-dark-white;
    font-size: 1.5rem;
    padding: 1.5rem;
    border-radius: 50%;
    padding: 60px;
    background-color: $cube-yellow;
}

.article-c a {
    border: 0.1rem solid $cube-dark-white;
    font-size: 1.5rem;
    padding: 1.5rem;
    border-radius: 50%;
    padding: 60px;
    background-color: $cube-red;
}

//edit
