@import "bootstrap";

$cube-light-white: #f5f5f6;
$cube-dark-white: #cdced1;
$cube-black: #050c17;
$cube-red: #b1046b;
$cube-violet: #640c41;
$cube-yellow: #bdb319;
$cube-blue: #0071bc;
$cube-dark-blue: #0c2e64;

body {
    background-color: $cube-black!important;
    padding-top: 4rem;
}

.no-data {
    color: white;
    text-align: center;
    margin-top: 2rem;
}

.best-time {
    color: $cube-blue;
    border: 0.1rem solid $cube-blue!important;
}

//error
#error_explanation {
    color: red;
    text-align: center;
    ul {
      color: red;
      padding-bottom: 0;
    }
}

.alert {
    background-color: $cube-blue;
    text-align: center;
    margin: 0!important;
}

//header
.drawer-nav {
    background-color: black!important;
}

.drawer-hamburger-icon, .drawer-hamburger-icon:after, .drawer-hamburger-icon:before {
    background-color: $cube-light-white!important;
}

.drawer-menu a {
    color: $cube-light-white;
}

#logo {
    font-size: 2rem;
}

.rlogo {
    padding: 0 7rem;
    color: white;
    font-size: 2rem;  
}

.navbar-extend {
    height: 4rem;
    padding-bottom: 2rem;
    border-bottom: 0.1rem solid $cube-light-white;
    background-color: black;
}

//card
.card-deck {
    margin-bottom: 1rem;
    text-align: center;
}

.card-title {
    font-weight: normal;
    font-size: 1.5rem;
    color: $cube-light-white;
}

.card {
    background-color: $cube-black!important;
    border-color: $cube-light-white!important;
    color: $cube-light-white!important;
}

.card-extend {
    margin-top: 2rem;
}

// button
.btn-extend {
    width: 5rem;
}

.btn-extend-2 {
    border-radius: 10%!important;
}

.btn-ar {
    padding: 0.2rem!important;
}

.form-submit {
    width: 100%;
    margin-top: 0.8rem;
}

//ransack

.input-group {
    text-align: center;
}

.search-name {
    padding: 0.3rem 0 0.5rem 0.5rem;
    border-radius: 5%;
}

//list
li {
    list-style: none;
}

.list-group-item {
    background-color: $cube-black!important;
}

// login, signup
.password, .confirm {
    margin-top: 2rem;
}

.form-logo-img {
    text-align: center;
    padding-top: 1.5rem;
}

.form-title {
    text-align: center;
    font-weight: normal;
    font-size: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
    color: $cube-light-white;
}
  
.form-go-to-signup-or-login {
    color: $cube-light-white;
    margin-bottom: 0;
    a {
        color: $cube-yellow;
    }
}