// microposts index
.micropost {
    border-bottom: 0.1rem solid white;
    padding-top: 0.5rem;
}

.micropost img {
    margin-left: 1rem;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    object-fit: cover;
}

.micropost h5 {
    padding-top: 1rem;
}

.users-name {
    padding-left: 0!important;
}

.micropost p {
    padding-left: 4rem;
    margin-bottom: 0;
}

.micropost-time {
    padding-left:4rem;
    color: darkgray;
}

.microposts-icon {
    position: fixed;
}


#comment {
    height: 13rem;
}


