// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.home {
    text-align: center;
}

.home-icon {
    margin-bottom: 2rem;
}

.my-darkgoldenrod {
    color: darkgoldenrod;
}

.my-blue {
    color: blue;
}

.my-green {
    color: green;
}

.my-red {
    color: red;
}

.my-yellow {
    color: yellow;
}

.my-gray {
    color: gray;
}

.my-mediumseagreen {
    color: mediumseagreen;
}

.my-orange {
    color: orange;
}

.my-deepskyblue {
    color: deepskyblue;
}

.my-cyan {
    color: cyan;
}

.my-pink {
    color: pink;
}

.my-white {
    color: white;
}