// Place all the styles related to the Relationships controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import "bootstrap";

$cube-light-white: #f5f5f6;
$cube-dark-white: #cdced1;
$cube-black: #050c17;
$cube-red: #b1046b;
$cube-violet: #640c41;
$cube-yellow: #bdb319;
$cube-blue: #0071bc;
$cube-dark-blue: #0c2e64;

.stats-f {
    margin-top: 1rem;
    p {
        font-size: 8px;
    }
}
