// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

/* Users index */

.users {
    padding-left: 0;
    list-style: none;
    margin: 0;
    li {
      overflow: auto;
      border-bottom: 0.1rem solid gray;
    }
}

.users-avatar {
    height: 3.5rem;
    padding-top: 0.3rem;
}

.users-avatar img {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    object-fit: cover;
}

.users-name {
    margin-top: 1rem;
}

.pagination {          
    justify-content: center;
    margin-top: 4rem;
}

.input-group {
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.user_info {
    margin-top: 2rem;
}

.btn-link {
    color: white!important;
}