<div class="footer-menu">
  <div class="container">
    <footer class="navbar navbar-dark fixed-bottom navbar-extend">   
      <div class="col-4">
        <div class="footer-icon">
          <%= link_to " ", root_path, class: "fas fa-home fa-2x my-white" %>
        </div>
      </div>
      <div class="col-4">
        <div class="footer-icon">
          <i class="far fa-comments fa-2x my-white"></i>
        </div>
      </div>
      <div class="col-4">
        <div class="footer-icon">
          <i class="far fa-clock fa-2x my-white"></i>
        </div>
      </div>
    </footer>
  </div>
</div>