<div class="container">
  <footer class="navbar navbar-dark fixed-bottom navbar-extend">   
    <div class="col-3">
      <div class="footer-icon">
        <%= link_to "", root_path, class: "fas fa-home fa-2x my-white" %>
      </div>
    </div>
    <div class="col-3">
      <div class="footer-icon">
        <%= link_to "", microposts_path, class: "far fa-comments fa-2x my-white" %>
      </div>
    </div>
    <div class="col-3">
      <div class="footer-icon">
        <%= link_to "", new_micropost_path, class: "fas fa-pen fa-2x my-white" %>
      </div>
    </div>
    <div class="col-3">
      <div class="footer-icon">
        <%= link_to "", new_clock_path, class: "far fa-clock fa-2x my-white" %>
      </div>
    </div>
  </footer>
</div>