<div class="edit-index">
  <div class="row">
    <div class="col">           
      <ul class="list-group">
        <div class="edit-group">
          <%= link_to 'プロフィール画像編集', edit_account_avatar_path, class: "list-group-item list-group-item-action" %>          
        </div>
        <div class="edit-group">
          <%= link_to 'アカウント編集', edit_user_registration_path, class: "list-group-item list-group-item-action" %>
        </div>
        <div class="edit-group">
          <%= link_to 'メッセージ編集', edit_account_description_path, class: "list-group-item list-group-item-action" %>
        </div>
      </ul>
    </div>
  </div>
</div>
