<div class="account-index">
  <div class="row">
    <div class="col">           
      <ul class="list-group">
        <div class="account-group">
          <%= link_to 'プロフィール画像設定', edit_account_avatar_path, class: "list-group-item list-group-item-action" %>          
        </div>
        <div class="account-group">
          <%= link_to 'アカウント設定', edit_user_registration_path, class: "list-group-item list-group-item-action" %>
        </div>
        <div class="account-group">
          <%= link_to 'メッセージ設定', edit_account_description_path, class: "list-group-item list-group-item-action" %>
        </div>
      </ul>
    </div>
  </div>
</div>
